body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.article_data {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.setAColor {
    text-decoration: none;
    color: #999;
    font-size: 12px;
}

.setAColor:hover {
    text-decoration: none;
    color: #1a8bc8;
    font-size: 12px;
}

.imgSize {
    width: 40px;
    height: 40px;
}


.margin10 {
    margin: 10px 0px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.hr-margin {
    margin-top: 10px;
    margin-bottom: 0px;
}

.menu {
    margin-top: 5px;
    color: #999;
}

.menu .icon {
    font-size: 17px;
}

.like_and_comment {
    cursor: pointer;

}

.like_and_comment:hover {
    text-decoration: none;
    color: #499ef3;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}

.secondComments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.article_tags{
    margin-right: 5px;
}

.relatedArticleList {
    font-size: 12px;
    padding-left: 0px;
    line-height: 20px;
}

.relatedArticleList li {
    list-style:none;
}

.relatedArticleList li a{
    text-decoration: none;
}

.relatedArticleList li a:hover{
    text-decoration: none;
}
