body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.article_data {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.setAColor {
    text-decoration: none;
    color: #999;
    font-size: 12px;
}

.setAColor:hover {
    text-decoration: none;
    color: #1a8bc8;
    font-size: 12px;
}

.imgSize {
    width: 40px;
    height: 40px;
}


.margin10 {
    margin: 10px 0px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.hr-margin {
    margin-top: 10px;
    margin-bottom: 0px;
}

.menu {
    margin-top: 5px;
    color: #999;
}

.menu .icon {
    font-size: 17px;
}

.like_and_comment {
    cursor: pointer;
    
}
.like_and_comment:hover{
    text-decoration: none;
    color: #499ef3;
}
