body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.imgSize{
    width: 40px;
    height: 40px;
}

.article_data{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}