<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>大学生学习交流平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/toastr.css"/>
    <script src="js/jquery-3.4.1.js" type="application/javascript"></script>
    <script src="js/toastr.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/index.js" type="application/javascript"></script>
</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>
                <hr>
                <div id="showList">
                    <!--此处是文章列表展示  详见index.js-->
                </div>
                <div style="text-align: center">
                    <!--此处展示分页页码-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg"  id="pageList">
                            <li id="jumpToFirst">
                                <a href="javascript:void(0);" aria-label="Previous">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li id="jumpBefor">
                                <a href="javascript:void(0);" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li id="jumpList1"><a href="javascript:void(0);">1</a></li>
                            <li id="jumpList2"><a href="javascript:void(0);">2</a></li>
                            <li id="jumpList3"><a href="javascript:void(0);">3</a></li>
                            <li id="jumpList4"><a href="javascript:void(0);">4</a></li>
                            <li id="jumpList5"><a href="javascript:void(0);">5</a></li>
                            <li id="jumpNext">
                                <a href="javascript:void(0);" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li id="jumpToEnd">
                                <a href="javascript:void(0);" aria-label="Next">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>热门话题</h3>

            </div>
        </div>
    </div>
</body>
</html>