<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.community.dao.IArticleDAO">
    <insert id="insertArticle">
        INSERT INTO article(
        title,
        description,
        articleCreateTime,
        articleUpdateTime,
        creatorId,
        readingCount,
        likeCount,
        commentCount,
        tag
        )
        VALUES(
        #{title},
        #{description},
        #{articleCreateTime},
        #{articleUpdateTime},
        #{creatorId},
        #{readingCount},
        #{likeCount},
        #{commentCount},
        #{tag}
        )
    </insert>

    <select id="selectAllArticle" resultType="Article">
        SELECT
        id,
        title,
        description,
        articleCreateTime,
        articleUpdateTime,
        creatorId,
        readingCount,
        likeCount,
        commentCount,
        tag
        FROM article
    </select>

    <select id="selectArticleCount" resultType="int">
        SELECT count(id) FROM article
    </select>

    <resultMap id="selectArticleDTO" type="com.student.community.dto.ArticleDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="articleCreateTime" property="articleCreateTime"/>
        <result column="creatorId" property="creatorId"/>
        <result column="readingCount" property="readingCount"/>
        <result column="likeCount" property="likeCount"/>
        <result column="commentCount" property="commentCount"/>
        <result column="tag" property="tag"/>
        <association property="user" javaType="User">
            <id column="id" property="id"/>
            <result column="gitAccountId" property="gitAccountId"/>
            <result column="gitName" property="gitName"/>
            <result column="gitBio" property="gitBio"/>
            <result column="accountName" property="accountName"/>
            <result column="avatarUrl" property="avatarUrl"/>
        </association>
    </resultMap>
    <select id="selectAllArticleDTO" resultMap="selectArticleDTO">
        SELECT * FROM article as a,user as u WHERE a.creatorId=u.id
    </select>

    <select id="selectArticleCountByUserId" resultType="int" parameterType="int">
        SELECT count(id) FROM article WHERE creatorId=#{creatorId}
    </select>

    <select id="selectAllArticleDTOByUserId" resultMap="selectArticleDTO" parameterType="User">
        SELECT * FROM article as a,user as u WHERE a.creatorId=u.id and a.creatorId=#{id}
    </select>

    <select id="selectArticleDTOById" resultMap="selectArticleDTO">
        SELECT * FROM article as a,user as u WHERE a.creatorId=u.id and a.id=#{id}
    </select>

    <select id="selectArticleById" resultType="Article">
        SELECT
        id,
        title,
        description,
        articleCreateTime,
        articleUpdateTime,
        creatorId,
        readingCount,
        likeCount,
        commentCount,
        tag FROM article WHERE id=#{id}
    </select>

    <update id="updateArticleById">
        UPDATE article SET
        title=#{title},
        description=#{description},
        articleUpdateTime=#{articleUpdateTime},
        tag=#{tag}
        WHERE id=#{id}
    </update>
</mapper>