<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.community.dao.IUserDAO">
    <insert id="insertUser">
      INSERT INTO user(
      gitAccountId,
      username,
      password,
      gitName,
      gitBio,
      accountName,
      token,
      createTime,
      updateTime,
      avatarUrl
      )
      VALUES(
      #{gitAccountId},
      #{username},
      #{password},
      #{gitName},
      #{gitBio},
      #{accountName},
      #{token},
      #{createTime},
      #{updateTime},
      #{avatarUrl}
      )
    </insert>
    <select id="selectUserBygitAccountId" resultType="User">
      SELECT gitAccountId FROM user where gitAccountId=#{gitAccountId}
    </select>
    <update id="updateUseByGitAccountId">
      update user set gitName=#{gitName},gitBio=#{gitBio},token=#{token}
      where gitAccountId=#{gitAccountId}
    </update>
    <select id="selectUserByToken" resultType="User">
      SELECT id,gitAccountId,username,gitName,gitBio,accountName,token,createTime,updateTime,avatarUrl
      FROM user
      WHERE token=#{token}
    </select>
    <select id="selectUserByUserName" resultType="User">
        SELECT id,gitAccountId,username,password,gitName,gitBio,accountName,token,createTime,updateTime,avatarUrl
        FROM user
        WHERE username=#{username}
    </select>
    <update id="updateUseById">
      update user
      set
      gitAccountId=#{gitAccountId},
      username=#{username},
      gitName=#{gitName},
      gitBio=#{gitBio},
      accountName=#{accountName},
      token=#{token},
      createTime=#{createTime},
      updateTime=#{updateTime},
      avatarUrl=#{avatarUrl}
      where id=#{id}
    </update>
    <update id="updateUseByUserName">
      update user
      set
      gitAccountId=#{gitAccountId},
      gitName=#{gitName},
      gitBio=#{gitBio},
      accountName=#{accountName},
      token=#{token},
      createTime=#{createTime},
      updateTime=#{updateTime},
      avatarUrl=#{avatarUrl}
      where username=#{username}
    </update>
</mapper>